{% extends 'base.html' %}

{% block content_title %}
  Choose your {{ field_name }}
{% endblock %}

{% block content %}
<div class="container col-6">
<form method="post">
  <div class="form-group">
    <select class="form-control form-control-lg" name="{{ field_name }}">
      <option value="">------------------</option>
      {% for item in items %}
      <option value="{{ item.id }}">{{ item.name }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="btn-toolbar justify-content-center">
    {% if backlink %}
    <a href="{{ backlink }}" class="btn btn-primary mx-4" role="button"><< back</a>
    {% endif %}
    <button type="submit" class="btn btn-primary mx-4">next >></button>
  </div>
</form>
</div>
{% endblock %}